body{
    background-image: url('img/bg-2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
}

.button{
    /* margin-left: 500px; */
    margin-top: 300px; 
    text-decoration: none;
}

.timetable {
    width: auto;
    height: 100px;
}

.link {
    text-decoration: none;
    color: white;
}

